@model OperationGlacier.Models.MapModel
@using Newtonsoft.Json
@{
    ViewBag.Title = @WitpUtility.from_date_str(Model.date_str).ToLongDateString();
}
@Styles.Render("~/Content/map-css")
<div id="map" style="width: 100%; height: 100%; background: black;"></div>


<script>
    var model_side = "@Ajax.JavaScriptStringEncode(Model.side)";
    var model_date = "@Ajax.JavaScriptStringEncode(Model.date_str)";
    var model_center_x = @Model.center_x;
    var model_center_y = @Model.center_y;
    var model_center_zoom = @Model.center_zoom;
    var comments_json = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.comments), addDoubleQuotes: true)));
    var game_name = "@ViewBag.game_name";
</script>

@RenderPage("../Includes/HandlebarsTemplates.cshtml")
@Scripts.Render("~/bundles/map-main")