@model OperationGlacier.Models.MapModel
@using Newtonsoft.Json
@{
    ViewBag.Title = Model.side + " " + Model.date_str;
}
@Styles.Render("~/Content/leaflet.css")
<div id="map" style="width: 100%; height: 100%; background: black;"></div>
<style>
    body {
        background: black;
    }

    .container {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: none;
        background: black;
        height: 100%;
    }

    .body-content {
        padding: 0;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding-bottom: 0;
    }

    #wrapper {
        min-height: 100%;
    }
    .panel-title a {
        display: block;
        padding: 10px 15px;
        margin: -10px -15px;
        cursor: pointer;
    }
</style>

<script>
    var model_side = "@Ajax.JavaScriptStringEncode(Model.side)";
    var model_date = "@Ajax.JavaScriptStringEncode(Model.date_str)";
    var model_center_x = @Model.center_x;
    var model_center_y = @Model.center_y;
    var model_center_zoom = @Model.center_zoom;
    var comments_json = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.comments), addDoubleQuotes: true)));
    var game_name = "@ViewBag.game_name";
</script>

@RenderPage("../Includes/HandlebarsTemplates.cshtml")
@Scripts.Render("~/bundles/map")