<!DOCTYPE html>
@using Microsoft.AspNet.Identity
@using OperationGlacier.Models
@using Microsoft.AspNet.Identity.EntityFramework
@{
    ApplicationUser my_user = null;
    if (Request.IsAuthenticated)
    {
        var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        my_user = UserManager.FindById(User.Identity.GetUserId());
    }
    ViewBag.my_user = my_user;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Operation Glacier</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ga")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="dropdown">
                    <a class="navbar-brand noselect logo-operation-glacier dropdown-toggle" id="mainDropdown" data-toggle="dropdown" aria-expanded="true">Operation Glacier</a>
                    <ul class="dropdown-menu nav nav-list" role="menu" aria-labelledby="mainDropdown" style="margin:50px 0 0; background-color: #333333; ">
                        @{
                            bool can_see_japan = true;
                            bool can_see_allies = true;
                            if (Request.IsAuthenticated)
                            {
                                if (my_user.SideRestriction != "Both")
                                {
                                    if (my_user.SideRestriction == "Allies")
                                    {
                                        can_see_japan = false;
                                    }
                                    if (my_user.SideRestriction == "Japan")
                                    {
                                        can_see_allies = false;
                                    }
                                }
                            }
                        }
                        @if (can_see_allies)
                        {
                            <li class="nav-header" style="color: #AAAAAA;">Allies</li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/Map?side=Allies&date=latest&game_name=@ViewBag.game_name">Latest Turn</a>
                            </li>
                            foreach (string date_str in GameState.get_date_strs_reverse(ViewBag.game_name))
                            {
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/Map?side=Allies&date=@date_str&game_name=@ViewBag.game_name">@WitpUtility.from_date_str(date_str).ToLongDateString()</a>
                                </li>
                            }
                        }
                        @if (can_see_allies && can_see_japan)
                        {
                            <!--<li class="divider"></li>-->
                        }
                        @if (can_see_japan)
                        {
                            <li class="nav-header" style="color: #AAAAAA;">Japan</li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/Map?side=Japan&date=latest&game_name=@ViewBag.game_name">Latest Turn</a>
                            </li>
                            foreach (string date_str in GameState.get_date_strs_reverse(ViewBag.game_name))
                            {
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/Map?side=Japan&date=@date_str&game_name=@ViewBag.game_name">@WitpUtility.from_date_str(date_str).ToLongDateString()</a>
                                </li>
                            }
                        }
                        @if (can_see_allies && can_see_japan)
                        {
                            <li class="nav-header" style="color: #AAAAAA;">Combined</li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/Map?side=Both&date=latest&game_name=@ViewBag.game_name">Latest Turn</a>
                            </li>
                            foreach (string date_str in GameState.get_date_strs_reverse(ViewBag.game_name))
                            {
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/Map?side=Both&date=@date_str&game_name=@ViewBag.game_name">@WitpUtility.from_date_str(date_str).ToLongDateString()</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index?game_name=@ViewBag.game_name">Home</a></li>
                    <li><a href="/Comments?game_name=@ViewBag.game_name">Recent Comments</a></li>
                    <li><a href="/Home/About?game_name=@ViewBag.game_name">About</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>