<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Baloogan Campaign</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/drop-theme-basic.css")
    @Styles.Render("~/Content/welcome.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/drop.min.js")
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42979588-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
    <style>
        .drop-target {
            cursor: pointer;
        }

        .drop-content ul {
            position: relative;
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .drop-content ul li span:hover {
                background: #909090;
                color: white;
                cursor: pointer;
            }

            .drop-content ul li span {
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                width: 100%;
                background: black;
                line-height: 60px;
                height: 60px;
                padding: 0 30px 0 30px;
                display: block;
                color: inherit;
                cursor: pointer;
                font-size: 20px;
                font-weight: normal;
            }
    </style>
</head>
<body class="drop-open">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="example">
                    <a class="drop-target navbar-brand" style="background-image: url(https://i.imgur.com/RXzCraP.png); background-repeat: no-repeat; background-size: contain; padding-left: 55px">Operation Glacier</a>
                    <div class="drop-content" style="display: none;">
                        <ul style="background: black;">
                            <li>
                                <span>Some really cool stuff.</span>
                            </li>
                            <li>
                                <span>Really cool.</span>
                            </li>
                            <li>
                                <span>Options etc, filters.</span>
                            </li>
                            <li>
                                <span>Stuff</span>
                            </li>
                            <li>
                                <span>More stuff!</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Map", "Index", "Map")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Baloogan Campaign</p>
            </footer>-->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function () {
            var init, isMobile, setupExamples, setupHero, _Drop;

            _Drop = Drop.createContext({
                classPrefix: 'drop'
            });

            isMobile = $(window).width() < 567;

            init = function () {
                //setupHero();
                return setupExamples();
            };

            setupExamples = function () {
                return $('.example').each(function () {
                    var $example, $target, content, drop, openOn, theme;
                    $example = $(this);
                    // theme = $example.data('theme');
                    openOn = 'click';
                    $target = $example.find('.drop-target');
                    //$target.addClass(theme);
                    content = $example.find('.drop-content').html();
                    return drop = new _Drop({
                        target: $target[0],
                        //classes: theme,
                        position: 'bottom center',
                        constrainToWindow: true,
                        constrainToScrollParent: false,
                        openOn: openOn,
                        content: content
                    });
                });
            };

            init();

        }).call(this);
    </script>
</body>
</html>
