<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Baloogan Campaign</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42979588-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
    <style>
        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .logo-operation-glacier {
            cursor: pointer;
            background-image: url(https://i.imgur.com/RXzCraP.png);
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 55px;
    }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #FFFFFF;
  white-space: nowrap;
}
    
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
		    </button>
	    <div class="dropdown">
		    <a class="navbar-brand noselect logo-operation-glacier dropdown-toggle" id="mainDropdown" data-toggle="dropdown" aria-expanded="true">Operation Glacier</a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="mainDropdown" style="margin:50px 0 0; background-color: #333333; ">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/OperationGlacier/Map?side=Allies&date=411207">Latest Allies Turn</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/OperationGlacier/Map?side=Japan&date=411207">Latest Japanese Turn</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/OperationGlacier/Map?side=Both&date=411207">Latest Combined Turn</a></li>

		    </ul>
		</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="container body-content">
        @RenderBody()
        <!--<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Baloogan Campaign</p>
            </footer>-->
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
