@using Newtonsoft.Json
@model OperationGlacier.Models.UnitModel
@{
    ViewBag.Title = Model.timeline_id;
}
@RenderPage("../Includes/HandlebarsTemplates.cshtml")
<div class="row" id="unit-timeline">

</div>
<script>
    var model_timeline_id = "@Model.timeline_id";
    var comments_json = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.comments), addDoubleQuotes: true)));
    var model_game_name = "@ViewBag.game_name";
</script>
@Scripts.Render("~/bundles/unit")